<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static',filename='css/toastr.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
      <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
      {%block css%}{%endblock%}
      <title>
        {%block title%}
        Homepage
        {%endblock%}
      </title>
      <script src="{{url_for('static',filename='js/jquery-3.6.0.js')}}"></script>
   </head>
   <body >
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
         <a class="navbar-brand" href="{{url_for('home_page')}}">Ask Me Anything</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
               {%if current_user.is_authenticated%}
               <li class="nav-item">
                  <a class="nav-link {{'active' if request.path == url_for('user_page')}}" href="{{url_for('user_page')}}">Account</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{url_for('logout_page')}}">Logout<span class="sr-only"></span></a>
               </li>
               {%else%}
               <li class="nav-item">
                  <a class="nav-link {{ 'active' if request.path == url_for('login_page') }}" href="{{url_for('login_page')}}">Login<span class="sr-only"></span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link {{ 'active' if request.path == url_for('register_page') }}" href="{{url_for('register_page')}}">Register</a>
               </li>
               {%endif%}
               <li class="nav-item">
                  <a class="nav-link {{ 'active' if request.path == url_for('search_user') }}" href="{{url_for('search_user')}}">Search</a>
               </li>
            </ul>
         </div>
      </nav>
      {%block content%}
      <div class="homepage">
      <h2> Welcome To Ask Me Anything Websites!</h2>
      <p>Website ini dibuat menggunakan flask dan juga socketio. Selamat menggunakan 💖</p>
      </div>
      {%endblock%}
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/toastr.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/783507a2a3.js')}}"></script>
      <script src="{{url_for('static',filename='js/socket.io.js')}}"></script>
      {%block script%}
      {% endblock %}
      {%with messages = get_flashed_messages(with_categories=True)%}
      {% if messages %}
      {% for category,message in messages %}
      {% if category == 'error' %}
      <script>
          toastr.error('{{message}}')
      </script>
      {% elif category == 'success' %}
      <script>
          toastr.success('{{message}}')
      </script>
      {% elif category == 'info' %}
      <script>
          toastr.info('{{message}}')
      </script>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div id="footer">
         <p>Made with <i class="fa-solid fa-heart" style="color:red"></i> by <a class='githublink' href="https://github.com/RiskevO3" target="_blank"><b>Riskev03</b></a></p>
      </div>
   </body>
</html>