{% extends 'index.html' %}
{% block title %}
{{current_user.username}} messages page ✉️
{% endblock %}
{% block content %}
   <section id="header" class="jumbotron text-center bg-dark text-white">
     <h1 class="display-3">Selamat Datang {{current_user.username}}!</h1>
     <p class="lead">Dibawah ini adalah pesan yang masuk untuk kamu.</p>
     <p>Copy link berikut untuk menerima pesan: </p>
     <button class="btn btn-primary" onclick="copyToClipboard('#user_link')"><a id="user_link"></a></button>
</section>
<br><br>
<div class="container">
  <div id = 'cards' class="row">
  {% include 'includes/card.html' %}
 </div>
</div>
{% endblock %}
{%block script%}
<script>
  document.getElementById('user_link').innerHTML = `${document.location.origin}/send/{{current_user.username}}`
  const copyToClipboard = (element) => {
  let $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
  toastr.success('link tercopy!')
};
</script>
{%endblock%}