{% for message in current_user.messages|reverse %}
<div class="col-sm-6 mb-3 text-white">
  <div class="card {{message.bg_color}}">
    <div class="card-body">
      <h5 class="card-title">{{message.name}}</h5>
      <p class="card-text">{{message.message}}</p>
    </div>
  </div>
</div>
{% endfor %}
<script>
const createCards = (obj) => {
      const row_i = document.getElementById('cards');
      const firstClass = document.getElementsByClassName("col-sm-6 mb-3")[0];
      const mainDiv = document.createElement('div');
      mainDiv.classList.add('col-sm-6', 'mb-3','text-white');
      const secondDiv = document.createElement('div');
      secondDiv.classList.add('card',obj['bg_color']);
      const thirdDiv = document.createElement('div');
      thirdDiv.classList.add('card-body');
      const name = document.createElement('h5');
      name.classList.add('card-title');
      name.innerHTML = obj.name;
      const message = document.createElement('p');
      message.classList.add('card-text');
      message.innerHTML = obj.message;
      thirdDiv.appendChild(name);
      thirdDiv.appendChild(message);
      secondDiv.appendChild(thirdDiv);
      mainDiv.appendChild(secondDiv);
      row_i.insertBefore(mainDiv, firstClass);
    };
    $(document).ready(function(msg) {
            let socket = io.connect('http://' + document.domain + ':' + location.port);
            console.log(socket)
            socket.on('{{current_user.username}}', function(msg) {
              createCards(msg)
            });
          })
    </script>
